{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container container-fluid">
        <div class="row mt-5 bg-success text-white">
            <div class="col-12 my-5">
                <h1 class="display-4 text-white">Profile</h1>
                <hr>
                <div class="row mt-5 bg-success text-white">
                    <div class="col-6">
                        {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" class="img-fluid" alt="{{ user.username }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}uno.jpg" class="img-fluid" alt="PLACEHOLDER">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <h2 class="text-white">Profile Details</h2>
                        <h3>Username: {{ user.username }}</h3>
                        <h3>Email: {{ user.email }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
